.spanSpace{
    margin: 10px;
}
.divSpace1{
    margin: 20px;
}


.label1{
    font-size: 14px;
}
.label2{
    font-size: 12px;
}
.example-card {
    max-width: 900px;
    max-height: 700px
  }
  .icon-chip .mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
.padding_margin_zero{
    padding: 0px;
    margin: 0px;
}
.rowWidth{
    width: 100%;
}
.recentFirst{
    font-size: 14px;
}
.recentSecond{
    font-size: 16px;
}
.recentThird{
    font-size:12px
}

table {
    width: 100%;
  }
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
  .mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.grid_1_4{
    background-color: lightgray;
}
