<form (ngSubmit)='memberAddUpdate(memberForm)' [formGroup]="memberForm">
  <h2 mat-dialog-title>Add new member</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-6">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="cust_name">
            <input hidden matInput  formControlName="cust_id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="cust_email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" formControlName="cust_phone">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Balance" formControlName="cust_balance">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Age" formControlName="cust_age">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Company" formControlName="cust_company">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="address" formControlName="cust_address">
          </mat-form-field>
          <mat-slide-toggle formControlName="cust_status" value="Active">Active Customer</mat-slide-toggle>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="memberForm.invalid">Save</button>
      <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>