.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-dialog-container {
    margin-left: 150px !important;
}
 

  