<!-- <div fxLayout="row" class="mb-3"  [formGroup]="itemForm">
  <div fxFlex="5">1</div>
  <div fxFlex="30">
    <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Item Name" formControlName="item_name">
  </mat-form-field>
</div>
  <div fxFlex="30">
    <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Item Price" formControlName="item_price">
  </mat-form-field>
</div>
  <div fxFlex="30">
    <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Item Unit" formControlName="item_unit">
  </mat-form-field>
</div>
  <div fxFlex="5">0.00</div>
</div> -->

<div class="row" [formGroup]="myForm">
  <div class="col-md-4"> <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Item Name" formControlName="item_name">
    </mat-form-field></div>
  <div class="col-md-3"><mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Item Price" formControlName="item_price">
    </mat-form-field></div>
  <div class="col-md-3">
      <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Item Unit" formControlName="item_unit">
    </mat-form-field>
  </div>
  <div class="col-md-2">{{(myForm.controls['item_price'].value * myForm.controls['item_unit'].value)}}</div>
</div>
