<div class="row" style="height: 40px">
  <div class="col">
    Profile / Overview
  </div>
</div>
<div class="row">
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-content style="text-align: center">
          <div class="row marginBottom">
            <div class="col">
                <img src="/assets/images/profile.jpeg" class="rounded-circle" alt="Cinque Terre" width="125px" height="125px"> 
            </div>
          </div>
          <div class="row marginBottom">
              <div class="col">
                 <span style="font-size: 3ch"> {{first_name}}</span> &nbsp; <span style="font-weight: bold;font-size: 3ch">{{last_name}}</span>
              </div>
            </div>
          <div class="row">
              <div class="col">
                  <button mat-raised-button color="primary">Message</button>&nbsp;
                  <button mat-raised-button color="accent">Follow</button>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-action-list>
                        <button mat-list-item (click)="save()"><mat-icon>home</mat-icon>&nbsp;Overview </button>
                        <button mat-list-item (click)="undo()"> <mat-icon>settings</mat-icon>&nbsp;Setting</button>
                        <button mat-list-item (click)="undo()"> <mat-icon>content_paste</mat-icon>&nbsp;Blank</button>
                      </mat-action-list>
                </div>
              </div>

        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Summary</mat-card-title>
            </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Contact Information</mat-card-title>
            </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
      
    </div>
    <div class="col-lg-5"><mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Timeline</mat-card-title>
          </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
    <br>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Uploaded Photos</mat-card-title>
          </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
    
    </div>
    <div class="col-lg-4">
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Support Tickets</mat-card-title>
            </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
      <br>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Assigned Task</mat-card-title>
            </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
      <br>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Activity</mat-card-title>
            </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
      
    </div>
  </div>
  