<div class="container">
  <form (ngSubmit)='forgotPassword(forgotpasswordForm)' [formGroup]="forgotpasswordForm">
  <mat-card class="example-card">
      <mat-card-header style="text-align: center">
          <mat-card-title >
            <img src="/assets/images/logo-lg.png" style="width:80px;height: 80px;">
            <br>
            New password will be sent to your email address</mat-card-title>
          
        </mat-card-header>

    <mat-card-content>
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Email *" formControlName="email">
            </mat-form-field>
                <button mat-flat-button color="primary" [disabled]="forgotpasswordForm.invalid">Submit</button>
               <br>
                <div _ngcontent-awi-c34="" class="text-center" style="flex-direction: row; box-sizing: border-box; display: flex;">
                  <a _ngcontent-awi-c34="" class="mat-primary text-center full-width" routerLink="/signin">Sign in</a>
                  <span _ngcontent-awi-c34="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
                  <a _ngcontent-awi-c34="" class="mat-primary text-center full-width" routerLink="/signup">Create a new account</a></div>
          </div>
          	
    </mat-card-content>
    
  </mat-card>
</form>
</div>
