<mat-toolbar class="btn-color-blue">
  <span class="text-whight mr-2">
      <mat-checkbox (change)="appRightHeadre.seletAll($event)">All</mat-checkbox>
  </span>
  <span class="text-whight mr-2">
    <mat-icon matTooltip="Move to trash" class="handCursor">delete</mat-icon>
  </span>
  <span class="text-whight mr-3">
    <mat-icon matTooltip="Mark as important" class="handCursor">folder_special</mat-icon>
  </span>
  <span class="text-whight mr-3">
    <mat-icon matTooltip="Move to archive" class="handCursor">archive</mat-icon>
  </span>
  <span class="text-whight">
    <mat-icon matTooltip="Report spam" class="handCursor">error</mat-icon>
  </span>
</mat-toolbar>
<app-inbox-right-side #appRightHeadre> </app-inbox-right-side>