<mat-card class="example-card">
    <button mat-raised-button color="warn" class="btnwidth" (click)="openComposeMail()">Compose</button>
    <mat-nav-list>
    <mat-list-item>
      <mat-icon matListIcon>inbox</mat-icon>Inbox
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>folder_special</mat-icon>Starred
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>send</mat-icon>Send
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>drafts</mat-icon>Draft
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>error</mat-icon>Spam
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon class="text-blue">people</mat-icon>Social
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon class="text-red">local_offer</mat-icon>Promotions
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon class="text-yellow">forums</mat-icon>Forums
    </mat-list-item>

  </mat-nav-list>
</mat-card>
