<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="row">
            <div class="col-sm-6"><h5>EGRET</h5></div>
            <div class="col-sm-4"><mat-slide-toggle></mat-slide-toggle></div>
        </div>
            <img src="/assets/images/profile.jpeg" class="rounded-circle" style="width: 70px"> 
           <br> <img src="/assets/images/lock.svg" style="width: 15px"><label> Watson Joyce</label>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/assets/images/setting.svg" mat-button [matMenuTriggerFor]="menu" style="width: 15px;cursor: pointer;">
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item routerLink="/setting">Account Setting</button>
            <button mat-menu-item routerLink="/calendar">Calender  </button>
            <button mat-menu-item>Sign Out</button>
          </mat-menu>&nbsp;
        <img src="/assets/images/email.svg" style="width: 15px;cursor: pointer;">&nbsp;
        <img src="/assets/images/logout.svg" style="width: 15px;cursor: pointer;">  
<hr>
Frequently Accessed
           <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                            Dashboard
                    </mat-panel-title>                  
                  </mat-expansion-panel-header>
                  <mat-list>
                        <mat-list-item class="cusrsor"> Default </mat-list-item>
                        <mat-list-item class="cusrsor"> Analytics </mat-list-item>
                        <mat-list-item class="cusrsor"> Cryptocurrency </mat-list-item>
                        <mat-list-item class="cusrsor"> Dark Cards </mat-list-item>
                       </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                                Ecoomerce
                        </mat-panel-title>                  
                      </mat-expansion-panel-header>
                      <mat-list>
                           <mat-list-item routerLink="/productlist" class="cusrsor"> Product </mat-list-item>    
                            <mat-list-item routerLink="/productdetail" class="cusrsor"> Product Details </mat-list-item>
                            <mat-list-item routerLink="/cart" class="cusrsor"> Cart </mat-list-item>
                            <mat-list-item routerLink="/checkout" class="cusrsor"> Checkout </mat-list-item>
                           </mat-list>
                    </mat-expansion-panel>
                  </mat-accordion>
    </mat-drawer>
    <app-header (drowerEvent)="drawer.toggle()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-container>