<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">

     <div class="item item-1" fxFlex="100%">

        <h1 mat-dialog-title>Confirm</h1>
        <div mat-dialog-content>
          <p>Delete {{name}}?</p>
        </div>
        <div mat-dialog-actions>
        
          <div class="item item-1" fxFlex="80%"><button mat-button mat-raised-button class="btn-color-blue" (click)="onNoClick('ok')">Ok</button></div>
          <div class="item item-2" fxFlex="20%"><button mat-button mat-raised-button class="btn-color-yellow" (click)="onNoClick('cancel')">Cancel</button></div>
          
          </div>
     </div>




  
  
 
</div>
