<div style="margin: 10px">

<div class="row">
    <div class="col-sm-12" style="height: 30px">
        Shop / Checkout
    </div>
</div>
<form method="POST">
    <legend>Billing Address</legend>
<div class="row">
<div class="col">
<div class="example-container">
        <mat-form-field>
                <mat-select placeholder="Country">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
<mat-form-field>
    <input matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Address Line 1">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone">
                </mat-form-field>
              </div>
</div>
<div class="col">
<div class="example-container">
<mat-form-field>
<input matInput placeholder="First Name">
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Company">
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Address Line 2">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="ZIP">
    </mat-form-field>
    <mat-form-field>
            <input matInput placeholder="Email">
            </mat-form-field>
    </div>
</div>
<div class="col">
    
    </div>

</div>

</form>





</div>