<div class="row" style="margin-left: 10px">
  <div class="col-sm-12 text-middle" style="height: 50px;">
    Shop
  </div>
</div>
<div style="margin: 10px">
  <div class="row">
    <div class="col-sm-3" *ngIf='hideCategory'>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categories
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="cusrsor" (click)="searchByCategory('all')"> <b>All</b> </mat-list-item>
            <mat-list-item class="cusrsor" (click)="searchByCategory('Speaker')"> Speaker </mat-list-item>
            <mat-list-item class="cusrsor" (click)="searchByCategory('headphone')"> Headphone </mat-list-item>
            <mat-list-item class="cusrsor" (click)="searchByCategory('watch')"> Watch </mat-list-item>
            <mat-list-item class="cusrsor" (click)="searchByCategory('phone')"> Phone </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Price
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="cusrsor"> Min :${{MINVALUE}} </mat-list-item>
            <mat-list-item class="cusrsor">
              <mat-slider thumbLabel  min="10" max="50" #minValue
                (input)="priceMinMax(minValue.value,maxValue.value,'min',$event)" [(ngModel)]="MINVALUE"
                (change)="sliderChange($event)"></mat-slider>

            </mat-list-item>
            <mat-list-item class="cusrsor"> Max :${{MAXVALUE}} </mat-list-item>
            <mat-list-item class="cusrsor">
              <mat-slider thumbLabel  min="50" max="100" #maxValue
                (input)="priceMinMax(minValue.value,maxValue.value,'max',$event)" [(ngModel)]="MAXVALUE"></mat-slider>
            </mat-list-item>

          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ratings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="cusrsor"> Min :1 </mat-list-item>
            <mat-list-item class="cusrsor">

              <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="4"></mat-slider>
            </mat-list-item>
            <mat-list-item class="cusrsor"> Max :5 </mat-list-item>
            <mat-list-item class="cusrsor">
              <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="5"></mat-slider>
            </mat-list-item>

          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-spinner *ngIf="loader"></mat-spinner>
    <div class="col-sm-{{colsm}}">
      <div class="row product_margin">
        <div class="col-sm-6">
          <img src='/assets/images/outline-short_text-24px.svg' class="cusrsor"
            (click)="hideshowCat()">&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search Product" value="" [(ngModel)]="searchData">
          </mat-form-field>
        </div>
        <div class="col-sm-6 text-right">
          <img src='/assets/images/outline-format_list_bulleted-24px.svg' class="cusrsor"
            (click)="viewVertical()">&nbsp;&nbsp;&nbsp;
          <img src='/assets/images/outline-apps-24px (1).svg' class="cusrsor"
            (click)="viewHorizontal()">&nbsp;&nbsp;&nbsp;
          <button mat-flat-button style="background-color: deepskyblue" class="cusrsor" routerLink="/cart"> <img
              src='/assets/images/cart.svg' style="color: white"><label style="color: white" class="cusrsor">
              Cart({{totalCartItem}})</label></button>
        </div>
      </div>

      <div class="row" *ngIf="verticalProduct">

        <div class="col-sm-4 cusrsor" style="margin-bottom: 15px"
          *ngFor="let product of productlistdata | searchDataRecord : searchData">
          <mat-card class="example-card">
            <img mat-card-image src="/assets/images/{{product.main_image}}" alt="Photo of a Shiba Inu"
              routerLink="/productdetail">
            <mat-card-content>
              <p routerLink="/productdetail" style="height: 30px">
                <b>{{product.name}}</b>
              </p>
              <div><label><b>Category :</b>{{product.category}}</label></div>
              <div><label><b>Tags :</b>{{product.tags}}</label></div>
              <div style="margin-bottom: 50px"></div>
              <div class="row">
                <div class="col-sm-6"><span><b>${{product.price1}}</b></span> &nbsp; <del>${{product.price2}}</del>
                </div>
                <div class="col-sm-6 text-right cusrsor">
                  <img src='/assets/images/cart.svg' (click)="addToCart(product.product_id)">
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div *ngIf="horizontalProduct">
        <div class="row" style="margin-bottom: 15px"
          *ngFor="let product of productlistdata | searchDataRecord : searchData">
          
          <div class="col-lg-4 cusrsor">
            <img src="/assets/images/{{product.main_image}}" alt="Photo of a Shiba Inu" routerLink="/productdetail"
              width="350" height="250">
          </div>
          <div class="col-sm-4">

            <p routerLink="/productdetail" style="height: 30px">
              <b>{{product.name}}</b>
            </p>
            <div><label><b>Category :</b>{{product.category}}</label></div>
            <div><label><b>Tags :</b>{{product.tags}}</label></div>
            <div style="margin-bottom: 100px"></div>
            <div class="row">
              <div class="col-lg-6"><span><b>${{product.price1}}</b></span> &nbsp; <del>${{product.price2}}</del></div>
              <div class="col-lg-6 text-right cusrsor">
                <img src='/assets/images/cart.svg' (click)="addToCart(product.product_id)">
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-6 text-right">
                    <img src='/assets/images/outline-playlist_add-24px.svg'>
                    <img src='/assets/images/outline-favorite-24px.svg'>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <img src='/assets/images/outline-done-24px.svg'>&nbsp;&nbsp;Heavy duty
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <img src='/assets/images/outline-done-24px.svg'>&nbsp;&nbsp;Water resistance
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <img src='/assets/images/outline-done-24px.svg'>&nbsp;&nbsp;Clean design
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <img src='/assets/images/outline-done-24px.svg'>&nbsp;&nbsp;High quality raw materials
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-paginator [length]="length"
        [pageSize]="pageSize  "
        [pageSizeOptions]="pageSizeOptions"
        (page)=pagination($event)
        >
</mat-paginator>
    </div>
    
  </div>
</div>