<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
      CRUDs / NgX Table
  </div>
</div>  
<div class="mb-3"></div>
<div class="row">
    <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="openAddEditMember()">Add Member</button>  
    </div>
  </div>
  <div class="mb-3"></div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Name Column -->
      <ng-container matColumnDef="cust_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.cust_name}} </td>
      </ng-container>
  
      <!-- Age Column -->
      <ng-container matColumnDef="cust_age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.cust_age}} </td>
      </ng-container>
  
      <!-- Balance Column -->
      <ng-container matColumnDef="cust_balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.cust_balance}} </td>
      </ng-container>
  
      <!-- Company Column -->
      <ng-container matColumnDef="cust_company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let element"> {{element.cust_company}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="cust_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.cust_status}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="cust_action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon class="text-blue handCursor" (click)="openAddEditMember(element)">edit</mat-icon>&nbsp;
              <mat-icon class="text-red handCursor" (click)="confirmBox(element.cust_id)">delete</mat-icon>
            </td>
          </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>